.base {
  font-size: 1.1em;
  padding: 15px;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--text);
}

.primary {
  background: var(--primary);
}

.success {
  background: var(--success);
}
