.key {
  flex: 1;
  position: relative;
  display: flex;
  font-weight: bold;
  align-items: flex-end;
  border: 1px solid black;
  border-bottom: 5px solid black;
  justify-content: center;
  user-select: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #f5f5f5;
}

.key-container {
  display: flex;
  height: 40%;
  position: relative;
  width: 100%;
}

.key-group {
  flex: 1;
  display: flex;
  position: relative;
}

.black-key {
  position: absolute;
  border-width: 2px;
  border-top-width: 1px;
  border-bottom: 5px solid #111111;
  width: 46%;
  height: 65%;
  right: -23%;
  z-index: 1;
  color: white;
  background: black;
}

.key:hover {
  background: var(--primary);
  color: black;
}

.key:active {
  background: var(--primary-dark);
  color: black;
}

.pressed {
  background: var(--primary-dark);
  color: black;
}
